* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: black;
  min-height: 10vh;
  color: aliceblue;
  display: flex;
  justify-content: end;
  gap: 1rem;
  align-items: center;
  div {
    margin-right: 1rem;
  }
  button {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    font-size: medium;
    font-weight: bolder;
    cursor: pointer;
  }
}

.login {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

@import "./login.scss";
@import "./signup.scss";
@import "./otp.scss"
